{% extends "base.html" %}

{% block content %}

<div class='container mt-4'>

    

    <h3 class='display-6'>Exlusão de Marca</h3>


    <div class='card'>

        <div class='card-body'>

            <p class='card-text'>Tem certeza que deseja Deletar a marca <strong>{{ object.name }}</strong>?</p>

            <form method="post" class='form'>

                {% csrf_token %}

                <button type="submit" class='btn btn-danger'>Excluir Marca</button>

                <a href="{% url "brand_list" %}" class='btn btn-secondary '>
                Cancelar
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock content %}